# Virtual environment
venv/
dash_app/app

# Compiled Python files
__pycache__/

# Python package information
*.egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd

# Ignore IntelliJ IDEA files and directories
*.idea/

# System files
Thumbs.db
*.DS_Store

# Ignore backup gitignore files
.gitignore.save

# Ignore other specific files or directories
archive
notebooks/.ipynb_checkpoints
